:root {
  --primary: #fe7899;
  --bg: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "afacad";
  background-color: var(--bg);
  margin: 0;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: hsla(0, 0%, 98%, 90%);
  border-bottom: 1px solid hsl(0, 17%, 93%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: #fe7899;
  display: inline-block;
  font-size: 2.4vh;
  margin: 0 1rem ;
}

.navbar .navbar-nav a:hover {
  color:  #d6336c;
}

.navbar .navbar-extra a {
  color: #fe7899;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color:  #d6336c;
}

#menu {
  display: none;
}


/* Homepage */
.home {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 55px;
  padding: 1.4rem 5%;
  color: #fbfbfb; 
  background-color: #fe7899;  
}

.home-content {
  display: flex;
  align-items: flex-start;
  max-width: 550px;
}

.home-content h1 {
  font-size: 4rem;
  margin-bottom: 0px;
}

.home-content span {
  font-size: 12px;
  margin-bottom: 0px;
}

.home-button {
  display: inline-block;
  margin: 15px 0px;
  padding: 10px 14px;
  background: #d6336c;
  color: #fbfbfb;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
}









/* Responsive Design */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fe7899;
    width: 30rem;
    height: 100vh;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}